*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #244441;
}

.header .logo-nav{
    width: 20%;
    height: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
 .header .logo-nav img{
    width: 40%;
    height: 60%;
   
} 
.header .nav-items{
    width: 60%;
    height: 100%;
   
}
.header .nav-items .items{
    height: 100%; 
    list-style-type:none;
    display: flex;

}
.header .nav-items .items li{
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.header .nav-items .items li a{
    text-decoration: none;
    text-transform:  uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
   

} 
.header .nav-items .items li a:hover{
    border-bottom:4px solid #F7C35F;
    color: #fff;
    transform: translateY(-7px);
    cursor: pointer;
    transition: .5s;
}
.header .nav-button{
    width: 20%;
    height: 100%;

}
.header .nav-button .inside-nav-button{
    width: 30%;
    height: 60%;
    background-color: #F7C35F;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    /* padding: 10px 20px; */
    margin: 10px 40px;
}
.header .nav-button .inside-nav-button:hover{
    background-color: #009688;
    cursor: pointer;
    color: #fff;
    transform: translateY(-7px);
    transition: .5s;
    
}
/*---------------Body------------------- */
.banner {
    
    height: fit-content;
    margin-bottom: 0px;
    background-image:url(img/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 100px 200px;
    background-position: center;
     z-index: 1; 
    
}

.banner .body-banner .heading1 .Agro-text{
    font: italic  bold 3.5em Georgia;
    
    color:#F7C35F;
}
    .banner .body-banner .heading1 img{
     width: 3%;
     height: 5%;
        position: absolute;
        top: 39.5%;
        left: 895px;

} 
.banner .body-banner .Management-text{
    font: italic  bold 3.5em Georgia;

    color: #fff;
}
.banner .body-banner .heading2 .small-text{
    font: Arial bold 20pt Georgia;
    font-size: 20pt;
    color: #fff;
}

.banner .body-banner .banner-paragraph .discover-text{
    font: Arial  bold 12pt Georgia;
    color: #fff;

}

.banner .body-banner .banner-paragraph .Discover-More{
    width: 10%;
    height: 5%;
    border-radius: 10px;
    background-color: #F7C35F;
    color: black;
    padding: 5px 30px;
    font-family: 'Courier New', Courier, monospace;
    
}
.banner .body-banner .banner-paragraph .Discover-More:hover{
    background-color: #009688;
    cursor: pointer;
    color: #fff;
    transform: translateY(-7px);
    transition: .5s;
    cursor: pointer;

}

/* ------------------------Body------------------  */
/*------------------- famrer------------------- */
.farmer{
    margin-top: 0px;
    height: fit-content;
    background-color: #1D3133;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 600px 0px;
}
.farmer .farmer-rectangle{
    width: 35%;
    height: 70%;
    background-color: #244441;
    z-index: 0;
    position: absolute;
    top: 113.5%;
}
.farmer .inner-farmer .farmer-img img{
    width: 35%;
    height: 90%;
    z-index: 3;
    position: absolute;
    top: 120%;
    left: 10%;
    z-index: 3;

}
.farmer .inner-farmer .farmer-stripimg img{
    width: 1.2%;
    height: 40%;
    z-index: 3;
    position: absolute;
    left: 8.8%;
    top: 165%;
    z-index: 2;
}
.farmer .inner-farmer .imgbox{
    width: 28%;
    height: 130px;
    background-color: #6D8C54;
    z-index: 3;
    position: absolute;
    top: 200%;
    left: 13%;
    display: flex;
    
    border-radius: 5px;
}
.farmer .inner-farmer .imgbox .icon{
    width: 25%;
    padding: 10px;
}
.farmer .inner-farmer .imgbox .whitestick{
    width: 1px;
    height: 100px;
    background: #8aaa70;
    margin: 10px 10px;


}
.farmer .inner-farmer .imgbox .boxnum .number{
    font: italic bold 30pt Georgia;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    padding-left: 3px;
    padding-top: 15px;
    
}
.farmer .inner-farmer .imgbox .boxnum .farmerparagraph{
    font: italic bold 12pt Georgia;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    padding-top: 15px;
    padding-left: 2px;
    
}
.farmer .inner-farmer .about-farmer .service-text{
    font:  bold 15pt Georgia;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    z-index: 3;
    position: absolute;
    left: 55%;
    top: 120%;
}


.farmer .inner-farmer .about-farmer .farmers-txt{
    font-family: 'Times New Roman', Times, serif;
    font:   bold 2.5em Georgia;
    color: #fff;
    z-index: 3;
    position: absolute;
    left:55%;
    top: 130%;
}
.farmer .inner-farmer .about-farmer .farmers-intro{
    font: Arial  bold 12pt Georgia;
    z-index: 3;
    position: absolute;
    left: 55%;
    top: 140%;
    font:  bold 15pt Georgia;
    font-family: 'Courier New', Courier, monospace;
    color: #F7C35F;
    position: absolute;

}
 
.farmer .inner-farmer .about-farmer .farmers-about{
    font: Arial  bold 12pt Georgia;
    color: #fff;
    z-index: 2;
    position: absolute;
    left: 55%;
    top: 150%;
} 
.farmer .inner-farmer .about-farmer2{
    font: Arial  bold 12pt Georgia;
    color: #fff;
    position: absolute;
    left: 55%;
    top: 160%;
    
} 
.farmer .inner-farmer .about-farmer2 .providetxt{
    display: flex;
}
.farmer .inner-farmer .about-farmer2 .providetxt img{
    padding-right:  20px ;
    padding-bottom: 20px;
}
.farmer .inner-farmer .about-farmer2 .keepingtxt{
    display: flex;
}
.farmer .inner-farmer .about-farmer2 .keepingtxt img{
    padding-right: 20px;
    padding-bottom: 20px;

}
.farmer .inner-farmer .about-farmer2 .helptxt{
    display: flex;
}
.farmer .inner-farmer .about-farmer2 .helptxt img{
    padding-right: 20px;
    padding-bottom: 20px;

}
.farmer .inner-farmer .about-farmer2 .trackingtxt{
    display: flex;
}
.farmer .inner-farmer .about-farmer2 .trackingtxt img{
    padding-right: 20px;
    padding-bottom: 20px;

}
.farmer .inner-farmer .about-farmer2 .providetxt{
    display: flex;
}
.farmer .inner-farmer .about-farmer2 .providetxt img{
    padding-right: 20px;
    padding-bottom: 20px;

}
.farmer .inner-farmer .about-farmer2 .keepingtxt2{
    display: flex;
}
.farmer .inner-farmer .about-farmer2 .keepingtxt2 img{
    padding-right: 20px;
    padding-bottom: 20px;

}