*{
    padding: 0;
    margin: 0;
}
/*---------------------------------------- font------------------------------------------------------------------------------------- */
@font-face{
    font-family: Century-Gothic;
    src: url(../font/Century-Gothic.ttf);
}
@font-face{
    font-family: Livvic-Bold;
    src: url(../font/Livvic-Bold.ttf);
}
@font-face{
    font-family: Livvic-Medium;
    src: url(../font/Livvic-Medium.ttf);
}
@font-face{
    font-family: Roboto-Black;
    src: url(../font/Roboto-Black.ttf);
}
@font-face{
    font-family: Roboto-Bold;
    src: url(../font/Roboto-Bold.ttf);
}
@font-face{
    font-family: Roboto-Regular;
    src: url(../font/Roboto-Regular.ttf);
}
@font-face{
    font-family: fa-regular-400;
    src: url(../font/fa-regular-400.ttf);
}
@font-face{
    font-family: Livvic-SemiBold;
    src: url(../font/Livvic-SemiBold.ttf);
}

/*---------------------------------------- font------------------------------------------------------------------------------------- */

.header{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #244441;
}

.header .logo-nav{
    width: 20%;
    height: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
 .header .logo-nav img{
    width: 40%;
    height: 60%;
   
} 
.header .nav-items{
    width: 60%;
    height: 100%;
   
}
.header .nav-items .items{
    height: 100%; 
    list-style-type:none;
    display: flex;

}
.header .nav-items .items li{
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.header .nav-items .items li a{
    text-decoration: none;
    text-transform:  uppercase;
    font-family:'Century-Gothic';
    color: white;
    line-height: 30px;

} 
.header .nav-items .items li:hover a{
    border-bottom:4px solid #F7C35F;
    color: #fff;
    transform: translateY(-7px);
    cursor: pointer;
    transition: .5s;
}
.header .nav-button{
    width: 20%;
    height: 100%;

}
.header .nav-button .inside-nav-button{
    width: 30%;
    height: 60%;
    background-color: #F7C35F;
    font-family: 'Century-Gothic';
    border-radius: 5px;
    /* padding: 10px 20px; */
    margin: 10px 40px;
}
.header .nav-button .inside-nav-button:hover{
    background-color: #009688;
    cursor: pointer;
    color: #fff;
    transform: translateY(-7px);
    transition: .5s;
    
}
/*---------------Body------------------- */
.banner {
    
    height: fit-content;
    margin-bottom: 0px;
    background-image:url(img/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 100px 200px;
    background-position: center;
     z-index: 1; 
    
}

.banner .body-banner .heading1 .Agro-text{
    font:  bold 3.5em 'Livvic-Bold';
    /* 
    font-style: italic;
    font-weight: bold;
    font-size: 3.5em;
    font-family: 'Livvic-Bold';
     */
    
    color:#F7C35F;
}
    .banner .body-banner .heading1 img{
     width: 3%;
     height: 5%;
     position: absolute;
     top: 39.5%;
     left: 895px;

} 
.banner .body-banner .Management-text{
    font:   bold 3.5em ;

    color: #fff;
}
.banner .body-banner .heading2 .small-text{
    font: Arial bold 20pt 'Livvic-Bold';
    font-size: 20pt;
    color: #fff;
}

.banner .body-banner .banner-paragraph .discover-text{
    font: Arial  bold 12pt Georgia;
    color: #fff;

}

.banner .body-banner .banner-paragraph .Discover-More{
    width: 10%;
    height: 5%;
    border-radius: 10px;
    background-color: #F7C35F;
    color: black;
    padding: 5px 30px;
    font-family: 'Courier New', Courier, monospace;
    
}
.banner .body-banner .banner-paragraph .Discover-More:hover{
    background-color: #009688;
    cursor: pointer;
    color: #fff;
    transform: translateY(-7px);
    transition: .5s;
    cursor: pointer;

}

/* ------------------------Body------------------  */
/*------------------- famrer------------------- */




/*------------------- famrer------------------- */
/*----------- Traders----------------------------------------------------------------------- */
/* .Trader .Trader-rectangle{
    width: 35%;
    height: 70%;
    background-color: #244441;
    z-index: 1;
    position: absolute;
    
} */